.cards{
    width: 50%;
    border: 3px solid black;
    background-color: darkmagenta;
    margin: 20px 0px 0px 20px;
    padding: 10px;
    overflow-y: auto;
    height: 574px;
}

.card{
    width: 100%;
    padding: 10px;
    background-color: lightpink;
    border: 3px solid black;
    margin-top: 10px ;

}
.img{
    width: 100%;

}
.title{

    font-size: 20px;
}
.text{

    font-size: 15px;
}
.link{
    width: 100%;
}