.root {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: bisque;
}

ul {
    margin: 50px;
}

.item {
    color: red;
    margin-bottom: 10px;
}

.completed {
    color: lightgreen;
}
